<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
     <a class="btn btn-outline-light" href="#!/"><i class="bi bi-caret-left"></i>Cancel</a>
     <button tng-click="done_button" class="btn btn-outline-success">Done</button>
  </div>
</nav>

<main class="container">
    <div class="form-floating">
      <textarea tng-model="content" style="height: 320px;" class="form-control" placeholder="I need to..." id="floatingTextarea"></textarea>
      <label for="floatingTextarea">I need to...</label>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="d-grid gap-2 col-6 mx-auto">
                <button tng-click="camera_button" class="btn btn-info"><i class="bi bi-camera"></i>add picture</button> 
            </div>
        </div>
    </div>
</main>
