<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
     <a class="btn btn-outline-light" href="#!/add"><i class="bi bi-caret-left"></i>Cancel</a>
     <button tng-click="add_button" class="btn btn-outline-success">Add</button>
  </div>
</nav>

<main class="container text-center">
    <div class="card">
        <div class="card-body">
            <video id="video" width="320" height="240" autoplay></video>
            <div class="d-grid gap-2 col-6 mx-auto">
              <button tng-click="start_button" class="btn btn-warning">start camera</button> 
            </div>
        </div>
    </div>
</main>
