<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Todos</a>
    <a class="btn btn-outline-success" href="#!/add"><i class="bi bi-plus"></i></a>
  </div>
</nav>

<main class="container">

    <div class="card mb-3">
        <select tng-model="selected" tng-change="new_filter" class="form-select">
          <option tng-repeat="extra in extras" tng-attr="selected when extra.selected" tng-bind="extra.text"></option>
        </select>
    </div>

    <div tng-repeat="todo in todos" class="card text-dark bg-warning mb-3">
      <div class="card-header">Todo</div>
      <div class="card-body">
        <p tng-bind="todo.content" class="card-text"></p>
      </div>
      <div class="card-body">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" tng-change="check_todo" tng-attr="checked when todo.done" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
              Is Done
          </label>
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
          <button tng-click="del_button" class="btn btn-danger">remove</button> 
        </div>
      </div>
    </div>

</main>

