<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Todos</a>
    <a class="btn btn-outline-success" href="#!/add"><i class="bi bi-plus"></i></a>
  </div>
</nav>

<main class="container">

    <div tng-repeat="todo in todos" class="card text-dark bg-warning mb-3">
      <div class="card-header">Todo</div>
      <div class="card-body">
        <p tng-bind="todo.content" class="card-text"></p>
      </div>
      <div class="card-body">
        <div class="d-grid gap-2 col-6 mx-auto">
          <button tng-click="del_button" class="btn btn-danger">remove</button> 
        </div>
      </div>
    </div>

</main>

<div class="container">
 <div class="section">
  <div class="row columns is-multiline">

    <div class="column is-4">
        <div class="card is-large">
            <video id="video" width="320" height="240" autoplay></video>
            <button class="button is-block is-fullwidth" tng-click="start_camera">Start camera!</button>
            <button class="button is-block is-fullwidth" tng-click="fetch_data">Fetch data!</button>
        </div>
    </div>

    <div class="column is-4">
        <div class="card is-large">
          <section tng-if="show">
            <h3>Can you see me?</h3>
            <p>This section suppose to be hidden!</p>
          </section>
          <button class="button is-block is-fullwidth" tng-click="show_button">show</button>
        </div>
    </div>

    <div class="column is-4">
        <div class="card is-large">
            <select tng-model="selected">
                <option tng-repeat="extra in extras" tng-attr="selected when extra.selected" tng-bind="extra.text"></option>
            </select>
        </div>
    </div>

  </div>
 </div>
</div>
