<header class="sticky">
  <a href="#!/" class="logo">Todos</a>
</header>

<div class="row padded">
  <div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">

    <div class="card">
      <button tng-click="fetch_data">Fetch data!</button>
    </div>

    <div class="card">
      <section tng-if="show">
        <h3>Can you see me?</h3>
        <p>This section suppose to be hidden!</p>
      </section>
      <button tng-click="show_button">show</button>
    </div>

  </div>
</div>

<div class="row padded">
  <div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
    <a href="#!/add" class="button primary">Add +</a>

    <div tng-repeat="todo in todos" class="card fluid">
      <section>
        <p tng-bind="todo.content"></p>
      </section>
      <button class="secondary" tng-click="del_button">delete</button>
    </div>

    <div  class="card fluid">
        <select tng-model="selected">
            <option tng-repeat="extra in extras" tng-attr="selected when extra.selected" tng-bind="extra.text"></option>
        </select>
    </div>

  </div>
</div>
