<div>

  <div>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Hidden Text</h5>
        <p tng-if="show" class="card-text">This text was hidden.</p>
        <a tng-click="show_button" class="btn btn-primary">show content</a>
      </div>
    </div>
  </div>

  <div>
    <a href="#!/add" class="mui--pull-right mui-btn mui-btn--fab mui-btn--primary">+</a>
  </div>
  <div>
    <div tng-repeat="todo in todos" class="mui-panel">
      <span tng-bind="todo.id" class="card-title"></span>
      <p tng-bind="todo.content" class="card-text"></p>
      <a tng-click="del_button" class="mui-btn mui-btn--raised mui-btn--danger">delete</a>
    </div>
  </div>

</div>